<!DOCTYPE html>
<html >
<head>
  <title>CONTACT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="home.css" >
  <link rel="stylesheet" href="contact.js" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
</head>

<body >
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
           
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">ABOUT</a></li>
            <li><a href="mile">MyChoice</a></li>
            <li><a href="contact">contact me</a></li>
            <li><a href="guestbook">Guestbook</a></li>
            
          </ul>
        </div>
      </nav>

<div class="container">
    <div class="row"  style="color:white">
        <div class="col-md-6 " id="form_container">
            <h2>REACH ME AT</h2> 
            <p> Please mail me. We will get back to you . </p>
            <form  method="post" id="reused_form">
                
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="name"> Your Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
      </div>
      <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="email"> Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="phone"> PHONE</label>
                        <input type="phone" class="form-control" id="email" name="phone" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label for="country"> COUNTRY</label>
                        <input type="country" class="form-control" id="country" name="country" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-lg btn-default pull-right" >Submit</button>
                    </div>
                </div>
            </form>
            <div id="success_message" style="width:100%; height:100%; display:none; "> <h3>Posted your message successfully!</h3> </div>
            <div id="error_message" style="width:100%; height:100%; display:none; "> <h3>Error</h3> Sorry there was an error sending your form. </div>
        </div>
    </div>
</div>


<div>		

<a href="https://github.com/DurgaPrasadKallem" class="fa fa-github"></a>
<a href="https://bitbucket.org/DurgaPrasadkallem/" class="fa fa-bitbucket"></a>    
</div>

  

</body>
</html>
