
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
</head>
<body class="container">
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <div class="navbar-header">
                   
                  </div>
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/">ABOUT</a></li>
                    <li><a href="mile">MyChoice</a></li>
                    <li><a href="contact">contact me</a></li>
                    <li><a href="guestbook">Guestbook</a></li>
                    
                  </ul>
                </div>
              </nav>



<h1 style="color:blue;">
Durga Prasad's Guestbook </h1>

<a href="/new-entry" class="btn btn-danger pull-right" style="position: fixed;left: 1000px;top: 80px;">
    <h2 style="color:black;">  
Write in the guestbook
</h2>
</a>