<!DOCTYPE html>
<html>
<head>
<title>Weight Converter</title>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="weight.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="home.css" >
</head>
<body>
    <nav class="navbar navbar-default" style="background-color: white" >
        <div class="container-fluid">
          <div class="navbar-header">
           
          </div>
          <ul class="nav navbar-nav" style="display: inline-block;">
            <li class="active"><a href="/">ABOUT</a></li>
            <li><a href="mile">MyChoice</a></li>
            <li><a href="contact">contact me</a></li>
            <li><a href="guestbook">Guestbook</a></li>
            
          </ul>
        </div>
      </nav>


        <h2 style="color:white;">Length Converter</h2>
        <p style="color:white;">Type a value in the Feet field to convert the value to Meters:</p>
        
        <form id ="zzz">
        <div class="form-group">
				<label id="fld_8768091Label">Enter the word Feet</label>
				<input type="text" id ="durga">
         <label id="fld_8768091Label">Enter Number in Feet</label>
        <input id="inputFeet" type="number" placeholder="Mile" oninput="LengthConverter(this.value)" onchange="LengthConverter(this.value)">
        
        <div><lable id="fld_8768091Label">Kilometers:</lable> <span id="outputMeters"></span></div>
        
        </div>
        </form>
        
        
        
        <!-- <script>
        function LengthConverter(valNum) {
            document.getElementById("outputMeters").innerHTML=valNum/3.2808;
        }
        </script> -->


</body>
</html>