<!DOCTYPE html>
<html>
<head>
<title> css</title>
<style>
#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(0,0,0,0.5);	
	color:#fff;
	
}
#fld_8768091Label  {
  color: white;
  font-size: 20px;
}
#outputMeters{
  color: yellow;
  }

body
{

	background-image: url("durga.jpeg");
	background-size: cover;
	background-repeat:no-repeat;

}

img {
   
    float: center;
}
.container-fluid bg-grey {
   float:right;  
	  
  }
.upload-btn-wrapper 
{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] 
{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-github {
  background: #55ACEE;
  color: white;
}

.fa-bitbucket {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

</style>
</head>
<body>
</body>
</html>